<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Success to Login</title>
    </head>
    <body>
        <h1>Success to LOGIN</h1>
        <div><p>User ID : <%= userid %></p></div>
        <div><p>User Name : <%= username %></p></div>
        <br><br>
        <a href = '/public/login.html'>Login Again</a>
    </body>
</html>